.pullee {
  width: 19rem;
  appearance: none;
}
.pullee:active::-webkit-slider-thumb {
  appearance: none;
  transform: scale(1.1);
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.pullee:active::-moz-range-thumb {
  border: 0;
  transform: scale(1.1);
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.pullee:active::-ms-thumb {
  transform: scale(1.1);
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}
.pullee:focus {
  outline: none;
}
.pullee::-webkit-slider-thumb {
  appearance: none;
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgb(61, 152, 154);
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: transform ease-out 100ms;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.pullee::-moz-range-thumb {
  border: 0;
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgb(61, 152, 154); 
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: transform ease-out 100ms;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.pullee::-ms-thumb {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgb(61, 152, 154);
  transform-origin: 50% 50%;
  transform: scale(1);
  transition: transform ease-out 100ms;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}
.pullee::-webkit-slider-runnable-track {
  height: 2rem;
  padding: 0.50rem;
  box-sizing: content-box;
  border-radius: 2rem;
  background-color: #dde0e3;
}
.pullee::-moz-range-track {
  height: 2rem;
  padding: 0.25rem;
  box-sizing: content-box;
  border-radius: 2rem;
  background-color: #dde0e3;
}
.pullee::-moz-focus-outer {
  border: 0;
}
.pullee::-ms-track {
  border: 0;
  height: 2rem;
  padding: 0.25rem;
  box-sizing: content-box;
  border-radius: 2rem;
  background-color: #dde0e3;
  color: transparent;
}
.pullee::-ms-fill-lower, .pullee::-ms-fill-upper {
  background-color: transparent;
}
.pullee::-ms-tooltip {
  display: none;
}



h1 {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}

.center-xy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}