/Model/InceptionResnetV1.pt
/__pycache__
/Known_Faces_dataset/data.pt
/Model/InceptionResnetV1_mobile.ptl
/test.py
/UI.py
/Model/data.pt
/Face_Recognition/__pycache__
/delete
/Known_Faces/Kate Alberca