/__pycache__
/Face_Recognition/__pycache__
/New Py
/Random
/UI design
/Model/dlib-19.22.99-cp310-cp310-win_amd64.whl
/Model/InceptionResnetV1_mobile.ptl
/node_modules
/test.py
/pages/__pycache__
/.firebase
/build
/.env
/.github
/Validation/__pycache__
/Firebase/__pycache__
/Firebase/secret.json
/Firebase.json
/Raspberry/__pycache__
/spam_process.py
/Firebase/banned_and_temporary_list.json
/Firebase/offline.json
/Firebase/firebase_data.json
/Firebase/insert_firebase_data.json